<header id="l-header">
    <div class="container">
        <div class="row logo">
            <div class="col-lg-7">
                <h1 style="font-size:100px;">{{ site.name }}</h1>
            </div>


            <div class="col-lg-5">
                <p style="text-align:left;">生命不止，奋斗不息</p>
            </div>
        </div>

        <div class="row navicon">
            <a href=""><i class="fa fa-navicon"></i></a>
        </div>

        <div class="row navbar">
            <nav class="col-lg-8 col-md-8 col-xs-12">
                <ul class="row">
                    <li class="col-lg-3"><a href="{{crturl}}">主页</a></li>
                    <li class="col-lg-3">
                        <ul class="subnav">
                            <a href="javascript:void(0)">文章</a>
                            <li><a href="{{crturl}}category">分类</a></li>
                            <li><a href="{{crturl}}tag">标签</a></li>
                        </ul>
                    </li>
                    <li class="col-lg-3"><a href="{{crturl}}about">关于我</a></li>
                    <li class="col-lg-3"><a href="{{crturl}}building">娱乐</a></li>
                </ul>
            </nav>

            <div class="search col-lg-4 col-md-4 col-xs-12">
                <label for="search"></label>
                <input id="search" name="serach" type="text" placeholder="Dummy Search">
                <i class="fa fa-search"></i>
            </div>
        </div>
    </div>
</header>