<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <p>
		    {{ page.date | date: "%b %-d, %Y" }}
		    {% if page.category %} • 分类: {{ page.category|capitalize }}{% endif %}
  </p>
  {% if content %}
		{{ content }}
  {% else %}
	  	{{ page.excerpt }}
	  	{% if page.content contains '<!-- more -->' %}
	  		<p><a href="{{ site.baseurl }}{{ page.url }}">阅读全文 »</a></p>
	  	{% endif %}
  {% endif %}
</article>

{% if content and page.author_footer != false %}

	{% include post_footer.html %}

	{% if page.comments != false %}
	    {% include disqus.html %}
	{% endif %}

{% endif %}
